<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ $customVars := resources.Get "css/custom-variables.css" | resources.ExecuteAsTemplate "custom-variables.css" . }}
  <link rel="stylesheet" href="{{ $customVars.RelPermalink }}">
  {{ $mainCSS := resources.Get "css/main.css" | resources.ExecuteAsTemplate "main.css" . }}
  <link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}">
  
  {{ $darkCSS := resources.Get "css/main-dark.css" | resources.ExecuteAsTemplate "main-dark.css" . }}
  <link rel="stylesheet" href="{{ $darkCSS.RelPermalink }}" id="dark-mode-theme" media="(prefers-color-scheme: dark)">
</head>
<body>
  <header class="py-6">
    {{- partial "header.html" . -}}
  </header>
  <main class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
    {{- block "main" . }}{{ end -}}
  </main>
  <footer class="py-10 md:py-14">
    {{- partial "footer.html" . -}}
  </footer>
  {{- partialCached "footer/js.html" . }}
</body>
</html>